@media(max-width: 768px){
  html, body {
    overflow-x: hidden;
  }
  .carousel-item {
    font-size: .7rem;
    line-height: 1.2;
  }
  .carousel-item .btn {
    font-size: 1rem;
  }
  .carousel-item .carousel-caption .slider1 {
    padding: 0;
    font-size: .9rem;
  }
  .carousel-item .carousel-caption .slider2 {
    padding: 0;
    font-size: .9rem;
  }
  .carousel-item .carousel-caption .slider3 {
    padding: 0;
    font-size: .9rem;
  }
  #showcase .carousel-item .header1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  #showcase .carousel-item .header2 {
    font-size: 44px;
    margin-bottom: 50px;
  }
  #showcase .carousel-item .header3 {
    font-size: 44px;
    margin-bottom: 50px;
  }
  #showcase .carousel-item .btn {
    margin-top: 20px;
  }
  #showcase .carousel-item p {
    font-size: 16px;
  }
  #pharm-services .btn {
    margin-bottom: 20px;
    display: block;
  }
  #pharm-services .pharm-header {
    text-align: center;
  }
  #pharm-services li {
    list-style: none;
  }
  #top-footer .header5 {
    text-align: center;
  }
  #top-footer ul, li, a {
    text-align: center;
  }
  #top-footer .menu-list {
    margin-bottom: 20px;
  }
  #about h1 {
    text-align: center;
  }
  #staff img {
    margin-top: 30px;
  }
  #services .card {
    margin-bottom: 50px;
  }
  #blog .card {
    margin-bottom: 30px;
  }
  #contact .card {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media(min-width: 769px) and (max-width: 1150px){
  html,body {
    overflow-x: hidden;
  }
  #showcase .carousel-item .header1 {
    font-size: 52px;
  }
  #about .about-img {
    width: 100%;
    padding: 0;
  }
  #icon-box .card-body {
    padding: 10px;
  }
}