html,body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 1.1rem;
}
/* Navbar */
.navbar .nav-link {
  font-size: 14px;
  padding: 0 1rem !important;
}
/* Carousel Section */
.carousel-item {
  height: 500px;
}
.carousel-image-1 {
  background: url('../img/carousel1.png');
  background-size: cover;
}
.carousel-image-2 {
  background: url('../img/carousel2.png');
  background-size: cover;
  background-position: center;
}
.carousel-image-3 {
  background: url('../img/carousel3.png');
  background-size: cover;
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.carousel-item .carousel-caption .slider1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel-item .carousel-caption .slider2 {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000;
}
.carousel-item .carousel-caption .header2 {
  color: #000;
}
.carousel-item .carousel-caption .slider3 {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Icon Section */
#icon-home .icon {
  color: var(--cyan);
  font-size: 1.1rem;
}
/* Home Header */
#home-header {
  position: relative;
  min-height: 200px;
  background: url('../img/happy.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}
/* Pharm Services */
#pharm-services .pharm-header {
  padding-bottom: 10px;
}
#pharm-services .pharm-p {
  padding-bottom: 8px;
  font-weight: 500;
}
#pharm-services ul,li {
  color: var(--success);
  font-size: 1rem;
}
/* Video Section */
#video-player {
  position: relative;
  min-height: 200px;
  background: url('../img/clinicals.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}
#video-player .video-header {
  padding-top: 20px;
  color: var(--dark);
}
#video-player .fa-play {
  background: #fff;
  color: var(--primary);
  padding: 10px;
  border-radius: 5px;
}
/** Photo Grid **/
#photo-grid .row .img-fluid {
  width: 100%;
  height: 100%;
}
/* Footer Section */
#top-footer {
  border-top: 1px solid var(--secondary);
  background: #F5F5F5;
}
#top-footer .row .header5 {
  color: #000;
  font-size: 1.5rem;
}
#top-footer .row .menu-list li, a{
  list-style: none;
  align-content: center;
  color: var(--secondary);
  padding: 4px 0;
}
#top-footer .form-header {
  margin-bottom: 20px;
}
#main-footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}
#main-footer .social-media i {
  padding: 12px;
  color: var(--primary);
}
/*** About.html ***/
/*** Header Section ***/
#page-header {
  height: 260px;
  background: url('../img/about-us.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  border-bottom: 1px solid #d4d4d4;
  padding-top: 60px;
}
.about-img {
  margin-top: -70px;
  border-radius: 5px;
  width: 80%;
}
/* Testimonial  */
#testimonials {
  background: url('../img/testimonial.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}
.testimonial-header {
  font-size: 2rem;
}
/* FAQ */
#faq a {
  text-decoration: none;
}
#blog .blog-img {
  width: 100%;
  height: 100%;
}
